@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
  margin: 0;
  padding: 0;
}
    /*NAVBAR*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    background: #1C1E53;
}
.nav{
    width: 100%;
    height: 92px;
}
.main_logo{
    padding-left: 130px;
}
.links-con{
    display: flex;
    padding-right: 110px;
}
.links-con a{
    margin-right: 20px;
    text-decoration: none;
}
.links-con ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.links-con li{
    list-style: none;
}
.links-con li a{
    text-decoration:  none;
    padding: 1rem;
    display: block;
}
.frame a{
    text-decoration: none;
}
.frame{
    height: 60px;
    width: 185px;
    border-radius: 41px;
    border: 2px solid #F4F6FC33;
    background-color: transparent;
}
.toggle-button{
    position: absolute;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .burger{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
 
}
    /*HERO*/

.Home_hero{
    display: flex;
    height: 760px;
    width: 100%;
    background: #1C1E53;
}
.hero_text{
    padding-left: 130px;
    margin-top: 150px;
    width: 582px;
    height: 222px;
    color: #FFFFFF;
}
.body2_loremipsum{
    width: 562px;
    height: 56px;
    opacity: 0.7;
    transform: translateY(-25px); 
    color:white
}

.headingH1_a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: white;
}
.view_pricing{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;    
}
.arrow{
    display: flex;
    width: 98px;
    height: 28px;
    margin-left: 45%;
    margin-top: -10%;
    text-decoration: none;
}
.textButton{
    display: flex;
    width: 138px;
    height: 28px;
}
button.View_work_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 64px;
    border: 0px;
    background: #FCD980;
    border-radius: 40px
}
button.View_work_button:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 64px;
    background: #FDE4A6;
    border-radius: 40px;
}
.View_work_button a{
    text-decoration: none;
}
.View_work_button_text{
    flex: none;
    width: 126px;
    height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #1B1C2A;
    order: 0;
    flex-grow: 0;
}
.main_hero{
    display: flex; 
    width: 638px;
    height: 361.12px;
    margin-left: auto;
    margin-right: 160px;
    margin-top: auto;
    margin-bottom: 157.88px;
}


    /*FEATURES*/
.Features{
    clear: both;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 2191px;
    background: #ffffff;
}
.Cards{
    display: flex; 
    justify-content: center;
    text-align: center;
    display: inline;

}
#Card{
    width: 405px;
    height: 316px;
}
#Card1{
    width: 405px;
    height: 316px;
}
#Card2{
    width: 405px;
    height: 316px;
}
#Card3{
    width: 405px;
    height: 316px;
}
#Card4{
    width: 405px;
    height: 316px;
}
#Card5{
    width: 405px;
    height: 316px;
}

    /*First header in FEATURES*/
.Header{
    padding-left: 35%;
    align-items: center;
    text-align:center;
    height: 250px;
    width: 630px;

}

.HeadingH2_a{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color:#282938
}
.Label2{
    display: flex;
    text-align:center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;

}
    /*Card1*/
.Card{
    text-align:center;
    justify-content: center;
    background-color: #ffffff;

}
    /*Heading for Cards*/
.HeadingH6_a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;    
}
.Body1a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}



.Body1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.body2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #BBBBCB;
}
.headingH1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 74px;
}
.headingH2{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
}
.headingH3{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */
color: #000000;
}

/*responsive nav*/
@media (max-width: 480px){
    .toggle-button{
        display: flex;
        padding: 10px;
    }
    .links-con{
        display: none;
        width: 100%;
    } 
    .main_logo{
        padding: 10px
    }
    .navbar {
        height: 92px;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    }
    .links-container {
        width: 100%;
        flex-direction: column;
        background: #1C1E53; 
    }
    .links-con a{
        width: 100%;
        flex-direction: column;
    }
    .links-con.active{
        display: flex;
        position: relative;    
    }
}