@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
  margin: 0;
  padding: 0;
}
.main_hero{
    display: flex;
}

    /*NAVBAR*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 0 30px;
    background: #1C1E53;
}
.nav{
    clear: both;
    justify-content: space-between;
    width: 100%;
    height: 92px;
}
.links-con{
    display: flex;
    margin-right: 10%; 
    justify-content: space-between;
}
.links-container a{
    margin-right: 20px;
    text-decoration: none;
}
.links-con li{
    list-style: none;
}
    /*HERO*/
.Home{
    display: flex;
    background: #FFFFFF;
}
.Home_hero{
    display: flex;
    height: 760px;
    width: 100%;
    background: #1C1E53;
}
.hero_text{
    padding-top: 150px;
    padding-left: 10%;
    display: flex;
}
.group2551{
    display: flex;
    width: 638px;
    height: 361.12px;
    padding-left: 20%;
    padding-top: 200px;
}
.view_pricing{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    color: #FFFFFF;    
}
.arrow{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.5px solid #EBEEF4;
}
.textButton{
    display: flex;
    width: 138px;
    height: 28px;
}
.View_work_button{
    display: flex;
    justify-content: center;
    background: #FCD980;
    border-radius: 41px;
    width: 230px;
    height: 64px;
}
.View_work_button a{
    text-decoration: none;
}
.View_work_button_text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 60%;
    color: #1B1C2B;
    width: 230px;
    height: 64px;
    right: 1210px;
    top: 568px;
    
}
.headline_body{
    display: flex;
    width: 582px;
    height: 302px;
    
}
.headingH1_a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: white;
}
    /*FEATURES*/
.Features{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 2191px;
    background: #ffffff;
}
    /*First header in FEATURES*/
.Header{
    display: flex;
    align-items: center;
    width: 630px;
    height: 100%;
    background-color: red;
}
.HeadingH2_a{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color:#282938
}
.Label2{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
    /*Card1*/
.Card{
    display: flex;
    background-color: #ffffff;
    justify-content: f;
}
    /*Heading for Cards*/
.HeadingH6_a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;    
}
.Body1a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}


.frame a{
    text-decoration: none;
}
.frame{
    height: 60px;
    width: 185px;
    border-radius: 41px;
    border: 2px solid #F4F6FC33;
    background-color: transparent;
}
.Body1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.body2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #BBBBCB;
}
.headingH1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 74px;
}
.headingH2{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
}
.headingH3{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */
color: #000000;
}